<a href="https://colab.research.google.com/github/CharmStrange/CustomDB/blob/main/Worknote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Custom Database

In [ ]:
import os
import datetime as dt
import ctypes as ct
import numpy as np

class Struct(ct.Structure):
    # fields are customizable
    _fields_ = [
        ('Header', ct.c_short),
        ('Data_int', ct.c_int),
        ('Data_double', ct.c_double)
               ]

    def __init__(self):
        pass

    def __del__(self):
        pass

    def push(self, Header, Data_int, Data_double):
        self.Header = Header
        self.Data_int = Data_int
        self.Data_double = Data_double

class TitanVault:

    def __init__(self, DataBaseName):
        self.DataBaseName = DataBaseName
        self.CreatedDate = dt.datetime.now()
        self.Base = []

    def __del__(self):
        pass

    def newStruct(self):
        self.Structure = Struct()
        self.Base.append(self.Structure)
        return self.Structure

    def pop(self, index):
        del self.Base[index]

class Cursor:

    db = 0
    dbs = []

    @classmethod
    def About(cls):
        print(f"Database(s) in database list : {len(cls.dbs)}")

        for database in cls.dbs:
            print(f"All database(s) : {database}")

    """

    | Document |

    01. Create a new database.
    >>>

    02. Utilize it.
    >>>

    """

    def __init__(self, Name, cnt=1):
        for i in range(cnt):
            self.db += 1
            titanvault = TitanVault(Name)
            self.dbs.append(titanvault)
            print(f"Created new database(s) | {titanvault} | Database can be controled by methods.\n")
        print(f"Created database(s) : {self.db} | Length of database list : {len(self.dbs)}")

    def __del__(self):
        pass

    def information(self):
        index = 0

        for element in self.dbs:
            print(f"Informations of each database :\nDatabse list index [{index}] | Database name : {element.DataBaseName} | Created date : {element.CreatedDate}")
            index+=1

    def insert(self, index, header, data_int, data_double):
        new_Struct = self.dbs[index].newStruct()
        print(type(new_Struct))
        new_Struct.push(header, data_int, data_double)
        return new_Struct

    def pop(self, index):
        del self.dbs[index]
        print("Successfully deleted.")

In [ ]:
Titan1 = TitanVault('titan1')
Titan1.DataBaseName
Titan1.CreatedDate
Titan1.newStruct()
Titan1.Base[0].push(10, 64, 0.5)

print(len(Titan1.Base))

Titan1.newStruct()
Titan1.Base[1].push(20, 128, 1.0)

print(len(Titan1.Base))

# Checking each Struct
#Titan1.Base[0].Header; Titan1.Base[0].Data_int; Titan1.Base[0].Data_double
#Titan1.Base[1].Header; Titan1.Base[1].Data_int; Titan1.Base[1].Data_double

Titan1.pop(0)
print(len(Titan1.Base))

1
2
1

In [ ]:
Titan2 = TitanVault('titan2')
Titan2.DataBaseName
Titan2.CreatedDate
Titan2.newStruct()
Titan2.Base[0].push(5, 32, 0.25)

print(len(Titan2.Base))

Titan2.newStruct()
Titan2.Base[1].push(2, 16, 0.12)

print(len(Titan2.Base))

# Checking each Struct
#Titan2.Base[0].Header; Titan2.Base[0].Data_int; Titan2.Base[0].Data_double
#Titan2.Base[1].Header; Titan2.Base[1].Data_int; Titan2.Base[1].Data_double

Titan2.pop(0)
print(len(Titan2.Base))

1
2
1

In [ ]:
test1 = Cursor('titan1')
test1.information()
test1.insert(0, 1, 2, 3.14)

Created new database(s) | <__main__.TitanVault object at 0x7dea82269de0> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 1
Informations of each database :
Databse list index [0] | Database name : titan1 | Created date : 2024-07-31 11:06:34.415533
<class '__main__.Struct'>

In [ ]:
test2 = Cursor('titan2')
test2.information()
test2.insert(1, 2, 3, 4.25)

Created new database(s) | <__main__.TitanVault object at 0x7dea82269f30> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 2
Informations of each database :
Databse list index [0] | Database name : titan1 | Created date : 2024-07-31 11:06:34.415533
Informations of each database :
Databse list index [1] | Database name : titan2 | Created date : 2024-07-31 11:06:34.433199
<class '__main__.Struct'>

In [ ]:
test3 = Cursor('titan3')
test3.About()
test3.pop(0)
test3.About()

Created new database(s) | <__main__.TitanVault object at 0x7dea82269900> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 3
Database(s) in database list : 3
All database(s) : <__main__.TitanVault object at 0x7dea82269de0>
All database(s) : <__main__.TitanVault object at 0x7dea82269f30>
All database(s) : <__main__.TitanVault object at 0x7dea82269900>
Successfully deleted.
Database(s) in database list : 2
All database(s) : <__main__.TitanVault object at 0x7dea82269f30>
All database(s) : <__main__.TitanVault object at 0x7dea82269900>

In [ ]:
class DataBase:

    Objects = []

    @classmethod
    def print_list(cls):
        print(f"{len(cls.Objects)} | {cls.Objects[:]}")

    def __init__(self, DataBaseName):
        self.DataBaseName = DataBaseName
        self.Base = []
        self.Objects.append(self)
        self.print_list()

    def __del__(self):
        del self.Base[:]

    def newElement(self, element):
        self.Base.append(element)

Object_1 = DataBase('DB1')
Object_2 = DataBase('DB2')
Object_3 = DataBase('DB3')

1 | [<__main__.DataBase object at 0x7dea8226b670>]
2 | [<__main__.DataBase object at 0x7dea8226b670>, <__main__.DataBase object at 0x7dea8226a620>]
3 | [<__main__.DataBase object at 0x7dea8226b670>, <__main__.DataBase object at 0x7dea8226a620>, <__main__.DataBase object at 0x7dea82269fc0>]

---

In [1]:
import sqlite3

DB = sqlite3.connect('/content/CarrotText_WHOLE.db')
DBC = DB.cursor()
DBC.execute( "SELECT * FROM CarrotTextWHOLE" )
columns_carrot = [attributes[0] for attributes in DBC.description]
raw_carrot = DBC.fetchall()

DB.row_factory = sqlite3.Row
new_DBC = DB.cursor()
new_DBC.execute( "SELECT * FROM CarrotTextWHOLE" )

tmp = [tpl for tpl in raw_carrot]

In [2]:
DBC.close()

In [3]:
tmp[:5]

[('다이슨 슈퍼소닉 드라이기 정품', '100000'),
 ('웅진코웨이 제습기', '20000'),
 ('티비 1만원에 오늘 가져가실 분(내일 이사가요)', '10000'),
 ('선풍기 (새것）', '5000'),
 ('에르메스 미니팝아슈 목걸이 판매합니다!(풀구성,새상품)', '150000')]

In [26]:
import os
import datetime as dt
import ctypes as ct
import pickle

class Struct(ct.Structure):
    _fields_ = [
        ('Title', ct.c_char_p),  # Change to c_char_p for string type
        ('Price', ct.c_double),
    ]

    def push(self, Title, Price):
        self.Title = Title.encode('utf-8')  # Encode string to bytes
        self.Price = Price

    def __str__(self):
        return f"Struct(Title={self.Title.decode('utf-8')}, Price={self.Price})"  # Decode bytes to string

class TitanVault:
    def __init__(self, database_name):
        self.database_name = database_name
        self.created_date = dt.datetime.now()
        self.base = []

    def new_struct(self, Title, Price):
        new_structure = Struct()
        new_structure.push(Title, float(Price))  # Convert Price to float
        self.base.append(new_structure)
        return new_structure

    def delete_struct(self, index):
        if 0 <= index < len(self.base):
            del self.base[index]
            print(f"Structure at index {index} deleted successfully.")
        else:
            print("Error: Index out of range.")

    def get_struct(self, index):
        if 0 <= index < len(self.base):
            return self.base[index]
        else:
            print("Error: Index out of range.")
            return None

    def __str__(self):
        return f"Database: {self.database_name}, Created(UTC): {self.created_date}, Structs: {len(self.base)}"


class Cursor:
    dbs = []

    @classmethod
    def about(cls):
        print(f"Number of databases: {len(cls.dbs)}")
        for db in cls.dbs:
            print(db)

    def __init__(self, name, cnt=1):
        self.dbs = [TitanVault(name) for _ in range(cnt)]
        print(f"Created {cnt} database(s): {[db.database_name for db in self.dbs]}")

    def information(self):
        for i, db in enumerate(self.dbs):
            print(f"Index [{i}] - {db}")

    def insert(self, index, Title, Price):
        if 0 <= index < len(self.dbs):
            new_struct = self.dbs[index].new_struct(Title, Price)
            print(f"Inserted: {new_struct}")
        else:
            print("Error: Index out of range.")

    def pop(self, index):
        if 0 <= index < len(self.dbs):
            del self.dbs[index]
            print("Database deleted successfully.")
        else:
            print("Error: Index out of range.")

    def save(self, filename):
        with open(filename, 'wb') as file:
            pickle.dump(self.dbs, file)
        print(f"Databases saved to {filename}.")

    def load(self, filename):
        if os.path.exists(filename):
            with open(filename, 'rb') as file:
                self.dbs = pickle.load(file)
            print(f"Databases loaded from {filename}.")
        else:
            print("Error: File not found.")

In [32]:
CT = TitanVault('CarrotText')
CT_c = Cursor('CarrotText')

Created 1 database(s): ['CarrotText']

In [33]:
CT_c.about()
CT_c.information()
CT_c.insert(0, tmp[0][0], tmp[0][1])

Number of databases: 0
Index [0] - Database: CarrotText, Created(UTC): 2024-08-07 12:48:10.920412, Structs: 0
Inserted: Struct(Title=다이슨 슈퍼소닉 드라이기 정품, Price=100000.0)